{% extends 'layout.html' %}

{% block content %}
<div class="row">
<div class="span6">
    <form action="{{ url_for_security('register') }}" method="POST" name="register_user_form" />
    <!--class="security">-->
        <h2>{{ _('Register Yourself') }}</h2>
        {{ register_user_form.hidden_tag() }}
        {{ fh.render_field_with_errors(register_user_form.name, class='input-block-level') }}
        {{ fh.render_field_with_errors(register_user_form.email, class='input-block-level') }}
        {{ fh.render_field_with_errors(register_user_form.password, class='input-block-level') }}
        {% if register_user_form.password_confirm %}
            {{ fh.render_field_with_errors(register_user_form.password_confirm, class='input-block-level') }}
        {% endif %}
        {% call fh.render_submit_button(register_user_form, 'btn-large') %}
        {% endcall %}
    </form>

</div>
<div class="span6">
    <h2>Why?</h2>
    <ul>
        <li>keep you informed about the Python-FOSDEM</li>
    </ul>
</div>

</div>


{% endblock %}

