Flask
Flask-Admin
Flask-Babel
Flask-Bootstrap==2.2.2-1
Flask-Cache
Flask-Mail
Flask-Migrate
Flask-Script
Flask-Security
Flask-SQLAlchemy
Flask-Testing
Flask-Uploads
Flask-WTF
flask_googlemaps
gunicorn
inflection
lxml
ordereddict
psycopg2
python-dateutil
unidecode
