{% macro render_minimalist_talks(talks) %}
    <table class="table table-striped table-condensed table-bordered">
        <thead>
            <tr>
                <th>{{ _('Time Slot') }}</th>
                <th>{{ _('Title') }}</th>
                <th>{{ _('Speaker') }}</th>
            </th>
        </thead>
        <tbody>
            {% for talk in talks %}
            <tr class="{% if talk.model.type == 'lightning_talk' %}warning{% endif %}">
                <td>{{ talk.schedule }}</td>
                <td><a href="{{ url_for('general.talk_show', record_id=talk.id, slug=talk.slug) }}">{{ talk.name }}</a></td>
                <td><a href="{{ url_for('general.user', user_id=talk.user.id, slug=talk.user.slug) }}">{{ talk.user.name }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endmacro %}
