{% extends 'layout.html' %}
{% import 'general/_talks_helper.html' as th %}

{% block content %}
    <div class='row' id='talks'>
        <div class='span12'>
            <div class="jumbotron">
                <h1>{{ _('Here is the Schedule') }}</h1>
                {% if not talks %}
                    <p class="lead">{{ _('There is no talks') }}</p>
                {% endif %}
            </div>
        </div>
        {% if talks %}
        <div class='span12'>
            {{ th.render_minimalist_talks(talks) }}
        </div>
        {% endif %}
    </div>
{% endblock %}
