{% extends 'layout.html' %}

{% block content %}
        <hr>
        <div class="page-header">
            <h1>{{ _('The Speakers') }}
        </div>
        <div class="row-fluid marketing">
            <div class="span6">
                {% for speaker in speakers %}
                <div class="media">
                    <span class="pull-left" href="#">
                        {#<img class="media-object img-circle" src="{{ speaker.url }}">#}
                        <img class="media-object img-circle" src="{{ speaker.gravatar() }}">
                    </span>
                    <div class="media-body">
                        <h4 class="media-heading">{{ speaker.name }}</h4>
                        <p>{{ speaker.biography }}</p>

                        <ul>
                            {% if speaker.twitter %}
                            <li><a href="http://twitter.com/{{ speaker.twitter.lstrip('@') }}">Twitter</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                {% endfor %}

            </div>

        </div>
{% endblock %}
