{% extends 'layout.html' %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        {#
        {{ fh.render_index_header(_('Talks'), 'general.index') }}
        #}
        {% call(item) fh.render_index(records, 'talks',
                               _('Firstname'), _('Lastname'), _('Email'), _('Title')) %}
            {{ fh.td(item.firstname) }}
            {{ fh.td(item.lastname) }}
            {{ fh.td(item.email) }}
            <td>
                <a href="{{ url_for('general.talk_proposal_show', record_id=item.id) }}">{{ item.title }}</a>
            </td>
        {% endcall %}
    </div>
</div>
{% endblock %}
