{% extends 'layout.html' %}

{% block content %}
<div class="row-fluid">
    <div class="span12">
        {#
        {{ fh.render_index_header(_('Talks'), 'general.index') }}
        #}
        {% call(item) fh.render_index(records, 'talks',
                               _('Speaker'), _('Email'), _('Title'), _('Points')) %}
            {{ fh.td(item.user.name) }}
            {{ fh.td(item.user.email) }}
            <td>
                <a href="{{ url_for('general.talk_show', record_id=item.id) }}">{{ item.name }}</a>
            </td>
            {{ fh.td(item.points) }}
        {% endcall %}
    </div>
</div>
{% endblock %}
