{% extends 'base_layout.html' %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>{{ _('Talk Dashboard') }} <small>You have {{ records|length }} talk(s) without vote !</small></h1>
        </div>
    </div>
</div>
<div class='row'>
    <div class='span12'>
        {% call(item) fh.render_index(records, 'talks',
                               _('Speaker'), _('Title'), _('Points')) %}
            {{ fh.td(item.user.name) }}
            <td>
                <a href="{{ url_for('general.talk_show', record_id=item.id) }}">{{ item.name }}</a>
            </td>
            {% set klass = {-1: 'important', 1: 'success', 0: ''}.get(item.current_user_vote.value, '') %}
            <td style="text-align:center;"><span class="label label-inverse">{{ item.points }}</span>
                <span class="triangle {{ klass }}"></span>
            </td>
        {% endcall %}
    </div>
</div>
{% endblock %}