{% extends 'base_layout.html' %}

{% block content %}
<div class="row">
    <div class="span12">
        <div class="page-header">
            <h1>{{ _('Talk Dashboard') }} <small>You have {{ records|length }} talk(s) without vote !</small></h1>
        </div>
    </div>
</div>
<div class='row'>
    <div class='span12'>
        {% call(item) fh.render_index(records, 'talks',
                               _('Speaker'), _('Title'), _('Points')) %}
            {{ fh.td(item.user.name) }}
            <td>
                <a href="{{ url_for('general.talk_show', record_id=item.id, slug=item.slug) }}">{{ item.name }}</a>
            </td>
            {% set klass = {-1: 'important', 1: 'success', 0: ''}.get(item.current_user_vote.value, '') %}
            <td style="text-align:center;"><span class="label label-inverse">{{ item.points }}</span>
                <span class="triangle {{ klass }}"></span>
            </td>
            {% if current_user.has_role('jury_president') and item.votes and item.state in ('draft',) %}
            <td>
            <a href="#"
                data-model-id='{{ item.id }}' data-vote='talk'
                class='on-validate btn btn-small'><i class''></i> {{ _('Validate') }}</a>
            </td>
            <td>
            <a href="#"
                data-model-id='{{ item.id }}' data-vote='lightning_talk'
                class='on-validate btn btn-small'><i class''></i> {{ _('Validate') }}</a>
            </td>
            {% endif %}

        {% endcall %}
    </div>
</div>
{% endblock %}

{%- block final_js %}
    {{ super() }}
    <script>
    $(function() {
        var pythonfosdem = {
            ajax_post: function(url, params, on_success) {
                var _callback = function(response) {
                    if (response.success) {
                        if (response.redirect_url) {
                            window.location.href = response.redirect_url;
                        }
                        else if (response.reload) {
                            window.location.reload();
                        }
                        else if (on_success) {
                            return on_success(response);
                        }
                    } else {
                        // Error handling
                        console.log(response);
                    }
                };
                $.post(url, params, _callback, 'json');
            }
        };

        $('a.on-validate').each(function(index, item) {
            $(item).on('click', function(event) {
                event.preventDefault();
                var self = $(this),
                    record_id = $(this).data('model-id'),
                    vote = $(this).data('vote');
                var params = {
                    record_id: record_id,
                    vote: vote,
                };

                pythonfosdem.ajax_post('{{ url_for("general.talk_validate") }}', params, function(response) {
                    console.log(response);
                });
            });
        });
    });
    </script>
{%- endblock %}
