{% extends 'layout.html' %}

{% block content %}
<div class='row'>
    <div class='span3'>
        <h3>{{ user.name }}</h3>
        <p><img src="{{ user.gravatar() }}"/></p>
        {% if current_user.is_authenticated() and user.roles %}
        <ul>
            {% for role in user.roles %}
            <li>{{ role.name }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class='span9'>
        <h4>{{ user.company }}</h4>
        <blockquote>{{ user.biography }}</blockquote>

        {% if user.urls %}
        <ul class='unstyled'>
            {% for address in user.urls %}
                <li><a href="{{ address.url }}">{{ address.label }}</a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>

{% endblock %}
