{% extends 'layout.html' %}

{% block content %}
<div class='row'>
    <div class='span3'>
        <h3>{{ user.name }}</h3>
        <p><img src="{{ user.gravatar() }}"/></p>
        <a href="{{ url_for('general.change_password') }}">Change your password</a>
        {% if user.roles %}
        <ul>
            {% for role in user.roles %}
            <li>{{ role.name }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
    <div class='span9'>
        {% call fh.render_horizontal_form(form, 'general.profile') %}
            {% call fh.fieldset(_('Information')) %}
                {{ fh.inline_horizontal_field(form.name, class='span6') }}
                {{ fh.inline_horizontal_field(form.company, class='span6') }}
                {{ fh.inline_horizontal_field(form.biography, class='span6', rows=4) }}
            {% endcall %}
            {% call fh.fieldset(_('Internet')) %}
                {{ fh.render_horizontal_fields(form, 'twitter site') }}
            {% endcall %}
        {% endcall %}
    </div>
</div>

{% endblock %}
