body {
    margin-top: 3em;
    /*padding-top: 20px;*/
    font-size: 16px;
    font-family: "Open Sans",serif;
    /*font-family: "Lato", serif;*/
    background: transparent;
}
// Override B3 .panel adding a subtly transparent background 
.panel {
    background-color: rgba(255, 255, 255, 0.9);
}

.margin-base-vertical {
    margin: 40px 0;
}

h1 {
    font-family: "Abel", Arial, sans-serif;
    font-weight: 400;
    font-size: 40px;
}
h2 {
    font-family: "Lato", sans-serif;
    font-style: italic;
}
#google-map {
    height:300px;
    width:300px;
    margin:0; 
}

div.thumbnail img {
    width: 150px;
    /*height: 200px;*/
}

.media-object {
    width: 128px;
}

.media {
    margin-bottom: 3em;
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}