{% extends 'bootstrap_base.html' %}
{% import 'bootstrap_wtf.html' as wtf %}
{% import 'form_helpers.html' as fh %}

{% block style_navbar_padding %}
    <style>
      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #footer {
        height: 60px;
        margin-top: 60px;
      }
      #footer {
        background-color: #f5f5f5;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }
     body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      .required {
        color: red;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }

      form.security {
        margin: 0 auto;
        max-width: 300px;
      }

      form p.checkbox label {
          display: inline;
      }
    </style>
{% endblock %}

{% block body_content %}
<div id='wrap'>
    <div class="container">
        <div class="masthead">
            <ul class="nav nav-pills pull-right">
              {% set links = [('general.index', _('Home'))] %}
              {% if current_user.has_role('jury_member') %}
                {% set links = links + [('general.talk_proposals', _('Talk Proposals'))] %}
              {% endif %}
              {% for endpoint, label in links %}
              <li class="{% if request.endpoint == endpoint %}active{% endif %}"><a href="{{ url_for(endpoint) }}">{{ label }}</a></li>
              {% endfor %}

              {% if current_user.is_authenticated() %}
              <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">{{ current_user.name }} <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                      <li><a href="{{ url_for('general.profile')}}">{{ _('Profile') }}</a></li>
                      <li><a href="{{ url_for('security.logout') }}">{{ _('Log out') }}</a></li>
                  </ul>
              </li>
              {% else %}
              <li><a href="{{ url_for('security.login') }}">{{ _('Log in') }}</a></li>
              {% endif %}

              <li><a href="http://fosdem.org">{{ _('About FOSDEM') }}</a></li>
              {#
                <li class="active"><a href="{{ url_for('general.speakers') }}">{{ _('Speakers') }}</a></li>
                <li><a href="#">{{ _('Schedule') }}</a></li>
                <li><a href="#">{{ _('Sponsorship') }}</a></li>
                <li><a href="{{ url_for('general.about_us') }}">{{ _('About') }}</a></li>
                <li><a href="#">{{ _('Contact') }}</a></li>
              #}
            </ul>
            <h3 class="muted"><a href="{{ url_for('general.index') }}">Python @ FOSDEM 2013</a></h3>
            <h4>{{ _('Sunday, 3rd February 2013') }} <small>{{ _('Brussels') }}, <strong>{{ _('Belgium') }}</strong></small></h4>

            {% with messages = get_flashed_messages(with_categories=true) %}
              {% if messages %}
                {% for category, message in messages %}
                  <div class="alert alert-{{ category }}">{{ message }}</div>
                {% endfor %}
              {% endif %}
            {% endwith %}
        </div>

        <hr>
        {% block content %}{% endblock %}

    </div>        
</div>
<div id='footer'>
    <div class='container'>
        <!-- <p class='pull-right'><a href='#'>{{ _('Back to top') }}</a></p> -->
        <!-- <p>&copy; 2012 <a href='http://wirtel.be'>Stephane Wirtel</a></p> -->
        <p style='text-align: center;'><a href="http://twitter.com/pythonfosdem">@pythonfosdem</a></p>
    </div>
</div>

<a href="https://github.com/matrixise/python-fosdem.org"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub"></a>
{% endblock %}

{% block bootstrap_js_bottom %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.2/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.string/2.3.0/underscore.string.min.js"></script>

    {% block final_js %}{% endblock %}

{% endblock %}
