<html>
    <head>
        <title>{{ _('Talk Proposal Declined for Python @ FOSDEM 2014') }}</title>
    </head>
    <body>
        <h2>{{ _('Dear') }} {{ talk.user.name}},</h2>
        <p>{{ _('We are sad to let you know that your talk has been declined for the Python DevRoom @ FOSDEM 2014.') }}</p>
        <p>{{ _('We hope to hear from you again for the next edition.')}}</p>
        <p>{{ _('Thank you again for your proposal!')}}</p>
        <p>{{ _('Best regards,') }}</p>
        <p><b>{{ _('The Python@FOSDEM 2014 Team') }}</b></p>
        <p>{{ _('Twitter: @pythonfosdem') }}</p>
    </body>
</html>
